{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <h3 class="mb-4">Complete Your Profile</h3>

  <form method="post">
    {% csrf_token %}

    <input class="form-control mb-3" name="degree" placeholder="Degree" required>
    <input class="form-control mb-3" name="interest" placeholder="Interest" required>
    <input class="form-control mb-3" name="graduation_year" placeholder="Graduation Year" required>

    <button class="btn btn-primary w-100">Get Started</button>
  </form>
</div>
{% endblock %}
